html, body {
  height: 100%;
}

/* blogify the text */
p {
  line-height: 1.635em;
  margin: .7em 0 1em 0;
  font-family: ff-meta-serif-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h2.ui.blog.header {
  /*font-family: acta-display, Georgia, Times, serif;*/
  font-family:"freight-sans-pro", Helvetica, Arial, Sans-Serif;
  font-size: 2em;
  color: #333;
  font-weight: normal;
  margin-top: 1em;
  text-align: center;
}

h2.ui.blog.header {
  color: rgb(82, 77, 77) !important;
}

a {
  color: #009FDA;
  text-decoration: none;
}

a:hover {
  color: #0F80F8;
}

.top-header.adjusted {
  margin-top: 1.4em !important;
}
#wrapper {
  min-height: 100%;
}

#content {
  overflow:auto;
  padding-bottom: 50px;
  }  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  border-top: 1px rgba(230,230,230,.8);
  background-color: rgba(9,9,9,.3);
  clear:both;
} 

body {
	background-color: rgba(240,240,240,.8);
	padding:0;
	margin:0;
}

#content{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 90%
}

.large-print {
	font-size: larger;
	color: #000;
}

.center-body {
	width: 80%;
	margin: 0 auto;
}

.login-form {
	width:600px;
}

#fb-link {
  margin-top: 10px;
  margin-left: 50px;
  position: absolute;
  height: 40px;
}

#values_all {
  width: 100%;
  text-align:center;
  padding-top:5px;
}

#our-values {
  font-family:"freight-sans-pro", Helvetica, Arial, Sans-Serif;
  font-size: 1.1em;
  color: rgba(0,0,0,.5);
  font-weight: normal;
  text-align: center;
}

#values {
  font-family:"freight-sans-pro", Helvetica, Arial, Sans-Serif;
  font-size: .9em;
  color: rgba(0,0,0,0.5);
  font-weight: normal;
  text-align: center;
}

div.caption p {
  text-align: center;
  font-size: smaller;
  text-indent: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

#facebooklogo {
  color: rgba(59,89,152,1);
  text-decoration: none;
}
