#pub-nav{
	margin:0;
	border-radius: 0;
}

#banner-top {
  width:100%;
  height:100px;
  background-image: url("/static/img/right_banner.png");
  background-position: right top;
  background-attachment: fixed;
  background-size: inherit;
  background-repeat: no-repeat;
}

#banner-top .overlay-message {
  position: absolute;
  z-index: 1;
  font-size: 3.5rem;
  color: rgba(174,167,224,1);
  margin-left: 50px;
  margin-top: 20px;
  width: auto;
}

#pub-nav.ui.large.menu .item {
  font-size: 1rem !important;
}

#pub-nav.fixed {
  position: fixed;
  top: 0;
}

#pub-nav.ui.inverted.menu {
  background-color: rgba(100,100,100,.99);
}

#nav-history.active {
	background-color: #ADA6E4;
}
#nav-service.active {
  background-color: #ABCDEF;
}

#nav-brothers.active {
	background-color: #564F8A;
}
#nav-home.active {
  background-color: #ECA267;
}
#nav-secure.active {
  background-color: #D95C5C;
}

.sub-header {
	margin: 0;
}

.top-header {
  margin: 0 !important;
}

#history-header {
	background-color:#ADA6E4;
}

#home-header {
  background-color:#ECA267;
}

#service-header {
  background-color: #ABCDEF;
}

#pub_nav .right.menu {
  display: inline !important;
}