{% extends "base.html" %}
{% block header %}
	<h1 class="sub-header ui inverted red block header">
		<i class="lock icon"></i>
		Secure Site Login
	</h1>
{% endblock %}
{% block content %}

<div class="large-print center-body login-form">

{% if user.is_authenticated %}

<h1 class="ui header">You Are Already Logged In.</h1>
You cannot log in again because you are already logged in.<br/><br/>
Did you mean to <a href="{% url 'django.contrib.auth.views.logout_then_login' %}">logout?</a><br/><br/>

{% else %}

{% load url from future %}

	<h1 class="ui header">Please Login Below.</h1>
	To access restricted sections of the website, please enter your credentials below.<br/><br/>

	If you do not have access and believe that you should, please contact the webmaster.<br/><br/><br/>

	<form class="ui form horizontal segment" method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
		<div class="field">
			<label>Username</label>
			<div class="ui left labeled icon input">
				{{form.username}}
				<i class="user icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Password</label>
			<div class="ui left labeled icon input">
				{{form.password}}
				<i class="lock icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		{% if form.errors %}
		<div class="ui error message">
			<div class="header">Username or password was incorrect. Please try again.</div>
		</div>
		{% endif %}

		<input class="ui red submit button" type="submit" value="login" />
		<input type="hidden" name="next" value="{{next}}" />
	</form>
	<br/>
	<br/><br/>
{% endif %}
</div>

{% endblock %}
