<!DOCTYPE HTML5>
<html lane="en">
<head>
	{% load staticfiles %}
	<script type='text/javascript' src='{% static "js/jquery-1.8.2.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/semantic.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/secure/secure_common.js" %}'></script>

	<link rel="stylesheet" type="text/css" href='{% static "css/semantic/css/semantic.css" %}'/>
	<link rel="stylesheet" type="text/css" href='{% static "css/secure/secure_common.css" %}'/>

	{% block local_includes %}
		<!-- include on child templates to add page specific js and css files -->
	{% endblock %}

</head>

<body>
<!--
<div id="nav_toggle">
	<i class="reorder icon link icon"></i>
</div>-->

<div id="secure_nav" class="ui floating menu">
	<div class="header item">
		<i class="lock icon"></i> Secure
	</div>
	
	{% if perms.UserInfo.manage_users %}
		<a class="item" id="blog" href="/secure/users">
			<i class="user icon"></i>Users
		</a>
	{% endif %}
	{% if perms.Blog.administrate_posts %}
	<a class="item" id="blog" href="/secure/blog">
		<i class="book icon"></i>Blog
	</a>
	{% endif %}
	<a class="item" id="party_list" href='/secure/parties'>
		<i class="male icon"></i> Party List
	</a>
	<div class="right menu">
		<div id="profile_dropdown" class="ui item dropdown">
			Welcome, {{ user.first_name }}.<i class="icon dropdown"></i>
			<div class="menu">
				<a class="item" href="{% url 'UserInfo.views.edit_user' user.username %}">Edit Profile</a>
				{% if user.is_staff %}
					<a class="item" href="/admin/">Admin</a>
				{% endif %}
				<a class="item" href="/logout/">Logout</a>
			</div>
		</div>
		<a class="item" id="home_button" href="/"><i class="large icon home"></i></a>
	</div>
</div>

<div id="module_nav">
{% block module_nav %}
{% endblock %}
</div>

<div id="content">
	{% block content %}

	{% endblock %}
</div>

</body>
</html>
