<!DOCTYPE HTML5>
<html lane="en">
<head>

	{% load staticfiles %}

	<script type='text/javascript' src='{% static "js/jquery-1.8.2.min.js" %}'></script>
	<script type='text/javascript' src='{% static "js/jquery.cookie.js" %}'></script>
	<script type="text/javascript" src='{% static "js/semantic.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/jquery.dataTables.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/secure/secure_common.js" %}'></script>

	<link rel="stylesheet" type="text/css" href='{% static "css/semantic/css/semantic.css" %}'/>
	<link rel="stylesheet" type="text/css" href='{% static "css/secure/secure_common.css" %}'/>

	{% block local_includes %}
	<!-- include on child templates to add page specific js and css files -->
	{% endblock %}

	<title>
	{% block title %}
	{% endblock %}
	</title>

</head>

<body>

<div id="secure_nav" class="ui floating menu">
	<div class="header item">
		<i class="lock icon"></i> Secure
	</div>

	{% if perms.Archives.access_guide %}
	{% if '/secure/archives' in request.path %}
	<a class="item active" id="archives" href="{{ '/secure/archives' }}">
	{% else %}
	<a class="item" id="archives" href="{{ '/secure/archives' }}">
	{% endif %}
		<i class="archive icon"></i>Archives
	</a>
	{% endif %}

	{% if '/secure/standards' in request.path %}
	<a class="item active" id="standards" href="{{ '/secure/standards' }}">
	{% else %}
	<a class="item" id="standards" href="{{'/secure/standards'}}">
	{% endif %}
		<i class="legal icon"></i>Standards
	</a>

	{% if '/secure/philanthropy' in request.path %}
	<a class="item active" id="philanthropy" href="{{ '/secure/philanthropy' }}">
	{% else %}
	<a class="item" id="philanthropy" href="{{'/secure/philanthropy'}}">
	{% endif %}
		<i class="globe icon"></i>Philanthropy
	</a>

	{% if '/secure/library' in request.path %}
	<a class="item active" id="library" href="{{ '/secure/library' }}">
	{% else %}
	<a class="item" id="library" href="{{ '/secure/library' }}">
	{% endif %}
		<i class="book icon"></i>Library
	</a>

	{% if perms.Links.access_link %}
	{% if '/secure/links' in request.path %}
	<a class="item active" id="links" href="{{ '/secure/links' }}">
	{% else %}
	<a class="item" id="links" href="{{ '/secure/links' }}">
	{% endif %}
		<i class="cloud icon"></i>Links
	</a>
	{% endif %}

	{% if '/secure/parties' in request.path %}
	<a class="item active" id="party_list" href="{{ '/secure/parties' }}">
	{% else %}
	<a class="item" id="party_list" href="{{ '/secure/parties' }}">
	{% endif %}
		<i class="male icon"></i>Parties
	</a>

	{% if perms.Blog.change_blogpost %}
		{% if '/secure/blog' in request.path %}
		<a class="item active" id="blog" href="{{ '/secure/blog' }}">
		{% else %}
		<a class="item" id="blog" href="{{ '/secure/blog' }}">
		{% endif %}
			<i class="comment icon"></i>Blog
		</a>
	{% endif %}

	{% if perms.UserInfo.manage_users %}
		{% if '/secure/users' in request.path %}
		<a class="item active" id="users" href="{{ '/secure/users' }}">
		{% else %}
		<a class="item" id="users" href="{{ '/secure/users' }}">
		{% endif %}
			<i class="user icon"></i>Users
		</a>
	{% endif %}

	<div class="right menu">
		<div id="profile_dropdown" class="ui item dropdown">
			Welcome, {{ user.first_name }}.
			<i class="icon dropdown"></i>
			<div class="menu">
				<a class="item" href="{% url 'UserInfo.views.edit_user' user.username %}">
					Edit Profile
				</a>

				<a class="item" href="{% url 'UserInfo.views.change_password' %}">
					Change Password
				</a>

				{% if user.is_staff %}
				<a class="item" href="/admin/">Admin</a>
				{% endif %}

				<a class="item" href="/logout/">Logout</a>
			</div>
		</div>

		<a class="item" id="home_button" href="/"><i class="large icon home"></i></a>

	</div>
</div>

<div id="module_nav">
{% block module_nav %}
{% endblock %}
</div>

<div id="content" class="large-print center-body">
{% block content %}
{% endblock %}
</div>

</body>
</html>
