{% extends "base.html" %}

{% block title %}Sigma Pi Gamma Iota - Permission Denied {% endblock %}


{% block header %}
	<h1 class="sub-header ui inverted red block header">
		<i class="lock icon"></i>
		Error 403 - Permission Denied
	</h1>
{% endblock %}

{% block content %}

<div class="large-print center-body">
<h1 class="ui header">Access Denied.</h1>
You seem to have tried to access something that you are not allowed to.  You really shouldn't do that.<br/><br/>
If you think that you should have access to this page, please contact the webmaster.</a><br/><br/>
</div>

{% endblock %}
