<!DOCTYPE HTML5>
<html lane="en">
<head>
	{% load staticfiles %}
	<script type='text/javascript' src='{% static "js/jquery-1.8.2.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/pub/pub_common.js" %}'></script>
	<script type="text/javascript" src='{% static "js/semantic.min.js" %}'></script>


	<link rel="stylesheet" type="text/css" href='{% static "css/semantic/css/semantic.css" %}'/>
	<link rel="stylesheet" type="text/css" href='{% static "css/pub_common.css" %}'/>
	<link rel="stylesheet" type="text/css" href='{% static "css/pub_nav.css" %}'/>


	{% block local_includes %}
		<!-- include on child templates to add page specific js and css files -->
	{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="wrapper"><!--for sticky footer -->
	<div id="banner-top">
		<div class="overlay-message">Sigma Pi - Gamma Iota</div>
	</div>
	{% block navbar %}

		<div id="pub-nav" class="ui large inverted menu">
			<a id="nav-home" href='/' class="item">
				<i class="home icon"></i> Home
			</a>
			<a id="nav-history" class="item" href="/history">
				<i class="book icon"></i> History
			</a>
			<a id="nav-service" class="item" href="/service">
				<i class="globe icon"></i> Service
			</a>
			<a id="nav-brothers" class="item" href="/users">
				<i class="users icon"></i> Brothers
			</a>
			<div class="right menu">
				<a id="nav-secure" class="item" href="/secure">
					<i class="lock icon"></i>
				</a>
			</div>
		</div>
	{% endblock %}
	{% block header %}
		<div class="ui bottom attached segment">
			<!-- put page specific headers here -->
		</div>
	{% endblock %}

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</div>
<div id="footer">
	<div id="fb-link">
		<i class="huge facebook sign icon link"></i>
		<span class="message">Like us on Facebook!</span>
	</div>
	{% block footer %}{% endblock %}
</div>
</body>
</html>