{% extends "base.html" %}
{% block title %}Sigma Pi Gamma Iota - History{% endblock %}
{% block local_includes %}
	{% load staticfiles %}
	<script type='text/javascript' src='{% static "js/waypoints.min.js" %}'></script>
	<script type='text/javascript' src='{% static "js/pub/pub_history.js" %}'></script>
	<link rel="stylesheet" type="text/css" href='{% static "css/pub_history.css" %}'/>
{% endblock %}
{% block header %}
	<h2 id="history-header" class="sub-header ui inverted block header">The Story of Our Chapter</h2>
{% endblock %}

{% block content %}

    <div id="history-nav" class="ui fixed small vertical secondary menu">
      <a id="founding-nav" class="active item">Our Founding</a>
      <a id="rebuilding-nav" class="item">Rebuilding Our Chapter</a>
      <a id="present-nav" class="item">Present Day</a>
    </div>
	<div class="center-body large-print">

		<i>To learn about the rich history of our international organization, visit our Fraternity's <a href="http://www.sigmapi.org">official webpage.</a></i>
		<h1 id="founding" class="ui header">Our Founding</h1>
		<div class="ui horizontal segment">
			<div class="ui right floated image">
				<img class="ui large image" src="{% static "img/house.jpg" %}">
				<center>Sigma Pi Fraternity House - 17 Dean St</center>
			</div>

			Gamma Iota chapter began in 1963 as Psi Theta Nu Fraternity, a local fraternity comprised of like-minded individuals at Worcester Polytechnic Institute. 
			<br/><br/>
			As a local fraternity, "PTN" had no overarching organization to support it. After vetting fraternities across the country for one year, PTN decided to apply to become a chartered and recognized chapter of Sigma Pi Fraternity. After another year, on May 1st, 1965, Psi Theta Nu received its charter from Sigma Pi Fraternity. 
			<br/><br/>
			Thus began the chapter's identity as Sigma Pi - Gamma Iota. Today, our alumni housing corporation still bears the name of our chapter's heritage: Psi Theta Nu.
			<br/><br/>
			Before becoming home to Gamma Iota chapter, our historic chapter house had purportedly served as the WPI President's house and the campus police station. We believe the house to be over 110 years old -- needless to say, it has been renovated over the years!  Our house is located at 34 Institute Rd. or 17 Dean St.
		</div>
		<h1 id="rebuilding" class="ui header">Rebuilding Our Chapter</h1>
		<div class="ui basic segment">
			In the summer of 2004, a fire on the third floor of the house drew the attention of our international organization to the chapter. Luckily, nobody suffered serious injuries and the structure incurred only moderate damage overall. 
			<br/><br/>
			This was a grave time for the chapter, and its future fell into uncertainty. After closer investigation, Sigma Pi officials intervened and introduced a "Renaissance program" that revitalized our membership and restarted the chapter on a clean slate. With the coming of the new Alpha class in the autumn of 2004, Gamma Iota chapter has rebuilt its standing on campus and is stronger than ever. If not for the vision and cooperation of this intrepid class of 20 dedicated men, Gamma Iota may not still be here today.
		</div>
		<h1 id="present" class="ui header">Present Day</h1>
		<div class="ui basic segment">
			Since our inception in 1965, we have maintained a continuously positive existence here at Worcester Polytechnic Institute (WPI). Our brothers are valued members of the undergraduate community and are passionate about their interests on campus. We are always looking for ways to give back to our community and participate in many different service-oriented events throughout the year.


			<br/><br/> 
			For more information on the ways we try to give back to our community, visit our <a href="{% url 'PubSite.views.service' %}">Service page.</a>
			<br/>
			For more information about our active members, visit our <a href="{% url 'UserInfo.views.users' %}">Brothers page.</a>
		</div>
		<br/><br/><br/>
	</div>

{% endblock %}