{% extends "base.html" %}

{% block header %}
	<h1 id="history-header" class="ui inverted block header">History</h4>
{% endblock %}
{% block content %}
	<div class="center-body large-print">
		To learn about the rich history of our international organization, visit our Fraternity's official webpage.
		<p>
			Sigma Pi Fraternity House - 17 Dean St.Gamma Iota chapter began as a local fraternity comprised of like-minded individuals at Worcester Polytechnic Institute in 1963 as Psi Theta Nu Fraternity. As a local fraternity, "PTN" had no overarching organization to support it. After vetting fraternities across the country for one year, PTN decided to apply to become a chartered and recognized chapter of Sigma Pi Fraternity. After one more year, on May 1st, 1965, Psi Theta Nu received its charter from Sigma Pi Fraternity. Thus began the chapter's identity as Sigma Pi - Gamma Iota. Today, our alumni housing corporation still bears the name of our chapter's heritage: Psi Theta Nu.
		</p>

		<p>
			Since its inception in 1965, Gamma Iota chapter has maintained a continuous positive existence here at Worcester Polytechnic Institute (WPI). Its brothers are valued members of the undergraduate community and are passionate in their interests on campus. For more information about our active members, visit our Brothers page.
		</p>

		<p>
			Before becoming home to Gamma Iota chapter, our historic chapter house had purportedly served as the WPI President's house and the campus police station. We believe the house to be over 110 years old-needless to say, it has been renovated over the years! We just renovated our kitchen floor in the summer of 2008 and we look forward to refinishing two rooms on the first floor of the chapter house by the start of the 2009-2010 academic year. Our house is located at 34 Institute Rd. or 17 Dean St.
		</p>
		
		<p>
			In the summer of 2004, a fire on the third floor of the house drew the attention of our international organization to the chapter. Luckily, nobody suffered serious injuries and the structure incurred only moderate damage overall. This was a grave time for the chapter, and its future fell into uncertainty. After closer investigation, Sigma Pi officials intervened and introduced a "Renaissance program" that revitalized our membership and restarted the chapter on a clean slate. With the coming of the new Alpha class in the autumn of 2004, Gamma Iota chapter has rebuilt its standing on campus and is stronger than ever. If not for the vision and cooperation of this intrepid class of 20 dedicated men, Gamma Iota may not still be here today.
		</p>
	</div>

{% endblock %}