{% extends "base.html" %}

{% block local_includes %}
	{% load staticfiles %}
	<script type='text/javascript' src='{% static "js/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1-packed.js" %}'></script>
	<script type="text/javascript" src='{% static "js/pub/home.js" %}'></script>
{% endblock %}

{% block header %}
	<h1 id="home-header" class="sub-header ui inverted block header">Welcome to Sigma Pi - Gamma Iota</h4>
{% endblock %}

{% block content %}
<div class="center-body large-print">
	<!-- Highlighted posts -->
	{% if highlighted_posts %}
	<div class="ui items" id='feed'>
		{% for post in highlighted_posts %}
			<div class="item">
				<div class="content">
					{% if post.image %}
					<div class="image">
						<img class="ui rounded image" src="/content/{{ post.image }}">
					</div>
					{% endif %}
					<div class="meta" id="post-date"><br/>{{post.date}}</div>
					<div class="name" id="post-title"><br/><a href="{% url 'PubSite.views.blog_post' post.path %}">{{post.title}}</a></div>
					<p class="description" id="post-summary">
						{{post.content}}
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
	{% endif %}


	<!-- Recent posts -->
	{% if recent_posts %}
	<h4>Recent Updates</h4>
	<div class="ui feed segment">
		{% for post in recent_posts %}
			<div class="event">
				<div class="name">
					<a href="{% url 'PubSite.views.blog_post' post.path %}">{{post.title}}</a>
				</div>
				<div class="content">
					<div class="date">
						{{post.date}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% endif %}

	<br/><br/><br/><br/>
</div>
{% endblock %}