{% extends "base.html" %}
{% block title %}Sigma Pi Gamma Iota - Service{% endblock %}

{% block header %}
	<h1 id="service-header" class="top-header ui inverted block header">Community Service and Campus Involvement</h4>
{% endblock %}
{% block content %}
	<div class="large-print center-body">
	Sigma Pi is very concerned with the activities and proceedings of the WPI community. 
	<br/><br/>
	Take a look at a few of our brothers out of dozens who assisted with freshman move-in day in August 2009. We all had a blast helping the new class move into the dorms!  In the same spirit, we look forward to our ACE project in the coming year. ACE or Altruistic Campus Experience is an annual effort by all Sigma Pi chapters. According to the I Believe manual, "it is the first international service project devoted to benefiting the faculty, administration, or host institution of the campus where individual chapters are located."
	<br/><br/>
	Also from I Believe:
	<br/><br/>
	"ACE is designed to help encourage our chapter members to develop pride and respect for their alma mater, while giving something back to the Fraternity's host institution. Each chapter is encouraged to conduct a service event that is specifically designed to benefit their campus. By becoming directly involved with our universities we hope to not only develop our members into better students, we also want to produce loyal alumni who will continue to give back to their alma mater long after each of them has graduated."
	<br/><br/>
	The ACE project is typically conducted in the spring every year. Keep your eyes open for us as the time draws closer!

	<br/><br/><br/>
{% endblock %}