{% extends 'secure/blog_base.html' %}
{% block title %}Sigma Pi Secure - Blog - Add Blog Post {% endblock %}

{% block content %}
<h1 class="ui header">Manage Blog Posts - New Post</h1>

<h4 class="ui header">Fill in the form below to create the new blog post.</h4>
<br/>
<div class="large-print center-body">
	<form enctype="multipart/form-data" method="post" action="{% url 'Blog.views.add_blog' %}" class="ui error horizontal segment form">
		{% csrf_token %}
		{% if error %}
		<div class="ui error message">
			<div class="header">Error</div>
				<p>{{ error }}</p>
		</div>
		{% endif %}
		<div class="field">
	  		<label>Title*</label>
	  		<div class="ui left labeled input">
	  			{{form.title}}
	  			<div class="ui corner label">
	  				<i class="asterisk icon"></i>
	  			</div>
	  		</div>
		</div>
		<div class="field">
			<label>Content*</label>
			<div class="ui left labeled input">
	  			{{form.content}}
	  			<div class="ui corner label">
					<i class="asterisk icon"></i>
				</div>
	  		</div>
		</div>
			<div class="field">
				<label>Image*</label> 
				<div class="ui left labeled input">
					{{form.image}}
					  			<div class="ui corner label">
					<i class="asterisk icon"></i>
				</div>
				</div>
			</div>
			<button type="submit" class="ui blue submit button">Submit</div>
	</form>
</div>

<br/>
<br/>
{% endblock %}