{% extends 'secure/blog_base.html' %}
{% block title %}Sigma Pi Secure - Blog - Manage Blog Posts {% endblock %}

{% block content %}

	<h1 class="ui header">Manage Blog Posts - View All</h1>

	<h4 class="ui header">View and edit existing blogs.</h4>

	{% if posts %}
	<div class="ui segment">
		<table id="blog_table" class="ui basic table segment">
			<thead>
				<tr>
					<th class="one wide">Date Posted</th>
					<th class="one wide">Poster</th>
					<th class="four wide">Title</th>
					<th class="one wide">View</th>
					<th class="one wide">Edit</th>
					<th class="one wide">Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
				<tr>
					<td>{{ post.date }}</td>
					<td>{{ post.poster }}</td>
					<td>{{ post.title }}</td>
					<td>
						<a href="{% url 'Blog.views.blog_post' post.path %}">View</a>
					</td>
					<td>
						<a href="{% url 'Blog.views.edit_blog' post.path %}">Edit</a>
					</td>
					<td>
						<form method="post" action="{% url 'Blog.views.delete_blog' %}">
							{% csrf_token %}
							<a href="#" onclick="$(this).closest('form').submit()">Delete</a>
							<input type="hidden" name="post_id" value="{{ post.pk }}"/>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$.fn.dataTableExt.oStdClasses["sFilter"] = "ui label black"
				$.fn.dataTableExt.oStdClasses["sLength"] = "ui label black"
				$.fn.dataTableExt.oStdClasses["sInfo"] = "ui message"
				$.fn.dataTableExt.oStdClasses["sPagePrevEnabled"] = "ui button active"
				$.fn.dataTableExt.oStdClasses["sPagePrevDisabled"] = "ui button disabled"
				$.fn.dataTableExt.oStdClasses["sPageNextEnabled"] = "ui button active"
				$.fn.dataTableExt.oStdClasses["sPageNextDisabled"] = "ui button disabled"
				$('#blog_table').dataTable();
			} );
		</script>
	{% else %}
	No blog posts found.  <a href={% url 'Blog.views.add_blog' %}">Create a new one.</a>
	{% endif %}

{% endblock %}