{% extends "secure_base.html" %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/blog/blog_common.css" %}' />
{% endblock %}

{% block module_nav %}
	<div id="blog-nav" class="ui inverted menu">
		<div class="header item">
			<i class="comment icon"></i>Blog
		</div>

		{% if not '/add' in request.path %}
		<a class="active item" href="{% url 'Blog.views.secure_index' %}">
			View All
		</a>
		<a class="item" href="{% url 'Blog.views.add_blog' %}">
			New Post
		</a>
		{% else %}
		<a class="item" href="{% url 'Blog.views.secure_index' %}">
			View All
		</a>
		<a class="active item" href="{% url 'Blog.views.add_blog' %}">
			New Post
		</a>
		{% endif %}

	</div>
{% endblock %}