{% extends "secure_base.html" %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/philanthropy/philanthropy_common.css" %}' />
	{% block philanthropy_includes %} {% endblock %}
{% endblock %}

{% block module_nav %}
	<div id="philanthropy-nav" class="ui inverted menu">
		<div class="header item">
			<i class="legal icon"></i>Philanthropy
		</div>

		{% if '/hours' in request.path %}
		<a class="item" href="{% url 'Philanthropy.views.index' %}">
			Overview
		</a>

		{% if perms.Philanthropy.add_hoursrecord %}
		<a class="active item" href="{% url 'Philanthropy.views.manage_hours' %}">
			Manage Hours
		</a>
		{% endif %}

		{% else %}

		<a class="active item" href="{% url 'Philanthropy.views.index' %}">
			Overview
		</a>

		{% if perms.Philanthropy.add_hoursrecord %}
		<a class="item" href="{% url 'Philanthropy.views.manage_hours' %}">
			Manage Hours
		</a>
		{% endif %}
		{% endif %}
	</div>
{% endblock %}