{% extends 'secure/archives_base.html' %}
{% block title %}Sigma Pi Secure - Archives - Bylaws {% endblock %}

{% block content %}
	<h1 class="ui header">Bylaws
		{% if perms.Archives.add_bylaws %}
		<a class="ui teal button" id="add_bylaws_button">Update Bylaws</a>
		{% endif %}
	</h1>  
	{% if perms.Archives.add_bylaws %}
	{% if form.errors %}
	<div class="ui segment" id="add_bylaws_form">
	{% else %}
	<div class="ui segment hidden" id="add_bylaws_form">
	{% endif %}
		<form enctype="multipart/form-data" method="post" action="{% url 'Archives.views.bylaws' %}" class="ui error form">
			{% csrf_token %}
			{% if form.errors %}
			<div class="ui error message">
				<div class="header">Errors!</div>
				<p>{{ form.errors }}</p>
			</div>
			{% endif %}
			<div class="field">
				<label>Bylaws File*</label>
				<div class="ui left labeled input">
		  			{{form.filepath}}
		  			<div class="ui corner label">
						<i class="asterisk icon"></i>
					</div>
		  		</div>
			</div>
			<button type="submit" class="ui blue submit button">Submit</button>
			<div id="add_bylaws_cancel" class="ui red button">Cancel</div>
		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#add_bylaws_button').click(function() {
				$('#add_bylaws_form').slideToggle(450);
			});
			$('#add_bylaws_cancel').click(function() {
				$('#add_bylaws_form').slideToggle(450);
			});
		} );
	</script>
	{% endif %}

	{% if latest %}
	<div class="ui vertical segment">
		The most recent version of the bylaws may be viewed <a href="{% url 'Archives.views.download_bylaw' latest.pk %}">here.</a>
		<br/>
		<br/>
	</div>
	{% endif %}
	{% if bylaws %}
	<div class="ui basic vertical segment">
		An archive of past bylaws may be viewed below.<br/><br/>
		<table id="bylaws_table" class="ui basic table segment">
			<thead>
				<tr>
					<th class="four wide">Date</th>
					<th class="one wide">View</th>
					{% if perms.Archives.delete_bylaws %} <th class="one wide">Delete</th> {% endif %}
				</tr>
			</thead>
			<tbody>
				{% for bylaw in bylaws %}
				<tr>
					<td>{{ bylaw.date }}</td>
					<td>
						<a href="{% url 'Archives.views.download_bylaw' bylaw.pk %}">View</a>
					</td>
					{% if perms.Archives.delete_bylaws %}
					<td>
						<form method="post" action="{% url 'Archives.views.delete_bylaw' %}">
							{% csrf_token %}
							<a href="#" onclick="$(this).closest('form').submit()">Delete</a>
							<input type="hidden" name="post_id" value="{{ bylaw.pk }}"/>
						</form>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<script type="text/javascript">
			$(document).ready(function() {
				$.fn.dataTableExt.oStdClasses["sFilter"] = "ui label black"
				$.fn.dataTableExt.oStdClasses["sLength"] = "ui label black"
				$.fn.dataTableExt.oStdClasses["sInfo"] = "ui message"
				$.fn.dataTableExt.oStdClasses["sPagePrevEnabled"] = "ui button active"
				$.fn.dataTableExt.oStdClasses["sPagePrevDisabled"] = "ui button disabled"
				$.fn.dataTableExt.oStdClasses["sPageNextEnabled"] = "ui button active"
				$.fn.dataTableExt.oStdClasses["sPageNextDisabled"] = "ui button disabled"
				$('#bylaws_table').dataTable();
			} );
		</script>
	</div>
	{% else %}
	<div class="ui vertical segment">
		No bylaws found. Check back later.
		<br/><br/>
	</div>
	{% endif %}
{% endblock %}