{% extends "secure_base.html" %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/archives/archives_common.css" %}' />
	{% block archives_includes %} {% endblock %}
{% endblock %}

{% block module_nav %}
	<div id="archives-nav" class="ui inverted menu">
		<div class="header item">
			<i class="archive icon"></i>Archives
		</div>

			{% if perms.Archives.access_guide %}
				{% if '/guides' in request.path %}
				<a class="active item" href="{% url 'Archives.views.guides' %}">
				{% else %}
				<a class="item" href="{% url 'Archives.views.guides' %}">
				{% endif %}
					Guides
				</a>
			{% endif %}

			{% if perms.Archives.access_meetingminutes %}
				{% if '/minutes' in request.path %}
				<a class="active item" href="{% url 'Archives.views.minutes' %}">
				{% else %}
				<a class="item" href="{% url 'Archives.views.minutes' %}">
				{% endif %}
					Minutes
				</a>
			{% endif %}

			{% if perms.Archives.access_bylaws %}
				{% if '/bylaws' in request.path %}
				<a class="active item" href="{% url 'Archives.views.bylaws' %}">
				{% else %}
				<a class="item" href="{% url 'Archives.views.bylaws' %}">
				{% endif %}
					Bylaws
				</a>
			{% endif %}

			{% if perms.Archives.access_houserules %}
				{% if '/rules' in request.path %}
				<a class="active item" href="{% url 'Archives.views.rules' %}">
				{% else %}
				<a class="item" href="{% url 'Archives.views.rules' %}">
				{% endif %}
					House Rules
				</a>
			{% endif %}

	</div>
{% endblock %}
