{% extends "secure_base.html" %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/archives/archives_common.css" %}' />
{% endblock %}

{% block module_nav %}
	<div id="archives-nav" class="ui inverted menu">
		<div class="header item">
			<i class="archive icon"></i>Archives
		</div>

		{% if '/guides' in request.path %}
		<a class="active item" href="{% url 'Archives.views.guides' %}">
			Guides
		</a>
		<a class="item" href="{% url 'Archives.views.minutes' %}">
			Minutes
		</a>
		<a class="item" href="{% url 'Archives.views.bylaws' %}">
			Bylaws
		</a>
		<a class="item" href="{% url 'Archives.views.rules' %}">
			House Rules
		</a>
		{% elif '/minutes' in request.path %}
		<a class="item" href="{% url 'Archives.views.guides' %}">
			Guides
		</a>
		<a class="active item" href="{% url 'Archives.views.minutes' %}">
			Minutes
		</a>
		<a class="item" href="{% url 'Archives.views.bylaws' %}">
			Bylaws
		</a>
		<a class="item" href="{% url 'Archives.views.rules' %}">
			House Rules
		</a>
		{% elif '/bylaws' in request.path %}
		<a class="item" href="{% url 'Archives.views.guides' %}">
			Guides
		</a>
		<a class="item" href="{% url 'Archives.views.minutes' %}">
			Minutes
		</a>
		<a class="active item" href="{% url 'Archives.views.bylaws' %}">
			Bylaws
		</a>
		<a class="item" href="{% url 'Archives.views.rules' %}">
			House Rules
		</a>
		{% elif '/rules' in request.path %}
		<a class="item" href="{% url 'Archives.views.guides' %}">
			Guides
		</a>
		<a class="item" href="{% url 'Archives.views.minutes' %}">
			Minutes
		</a>
		<a class="item" href="{% url 'Archives.views.bylaws' %}">
			Bylaws
		</a>
		<a class="active item" href="{% url 'Archives.views.rules' %}">
			House Rules
		</a>	
		{% else %}
		<a class="active item" href="{% url 'Archives.views.guides' %}">
			Guides
		</a>
		<a class="item" href="{% url 'Archives.views.minutes' %}">
			Minutes
		</a>
		<a class="item" href="{% url 'Archives.views.bylaws' %}">
			Bylaws
		</a>
		<a class="item" href="{% url 'Archives.views.rules' %}">
			House Rules
		</a>
		{% endif %}	
	</div>
{% endblock %}