body {
	margin: 0;
}

#nav_toggle {
	width: 50px;
	color: #CCC;
	height: 40px;
	margin-right:10px;
	display: block;
	position: fixed;
	right: 0;
	cursor: hand;
	font-size: 2.5rem;

}
	
#nav_toggle i {
}

#top-nav .title {
	float: left;
	display: inline;
	margin-left: 2px;
	margin-top: 3px;
	font-size: 2em;
	color: #F3F3F3;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


#secure_nav {
	background-color: #F37575;
	overflow: hidden;
}