@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

* {
  font-family: 'Open Sans';
}

html {
	background: url("/static/img/squairy_light.png");
}

a {
  color: #009FDA;
  text-decoration: none;
}

a:hover {
  color: #0F80F8;
}

#nav_toggle {
	width: 50px;
	color: #CCC;
	height: 40px;
	margin-right:10px;
	display: block;
	position: fixed;
	right: 0;
	cursor: hand;
	font-size: 2.5rem;
}

#nav_toggle i {
}

#top-nav .title {
	float: left;
	display: inline;
	margin-left: 2px;
	margin-top: 3px;
	font-size: 2em;
	color: #F3F3F3;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


#secure_nav { 
	background-color: #AD89DB;
	/*#F37575*/
	height:43px;
}

#module_nav {
	margin-top:-16px;
}

#home_button {
	margin-top:-5px;
}

#secure_nav .right.menu {
	display: inline;
}

.large-print {
	font-size: larger;
	color: #636363;
}

.center-body {
	width: 80%;
	margin: 0 auto;
	margin-bottom:50px;
}

.right-aligned {
	text-align: right;
}
