{% extends "party_base.html" %}

{% block title %}Sigma Pi Secure - Parties - Edit Party {% endblock %}

{% block content %}
<meta charset="utf-8">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
	$("#datepicker").datepicker();
	var date = document.URL.split("/")[document.URL.split("/").length-2];
	date = date.split("-")[1] + "/" + date.split("-")[2] + "/" + date.split("-")[0];
	$("#datepicker").datepicker("setDate", date);
});
</script>

<h1 class="ui header">Manage Parties - Edit Party: {{ requested_party.displayname }}</h1>

<h4 class="ui header">Edit the fields below to change the party's info.</h4>
<br/>
<div class="large-print center-body">
	<form enctype="multipart/form-data" method="post" action="{% url 'PartyList.views.edit_party' requested_party.name requested_party.date %}" class="ui error horizontal segment form">
		{% csrf_token %}
		{% if error %}
		<div class="ui error message">
			<div class="header">Error</div>
				<p>{{ error }}</p>
		</div>
		{% endif %}
		<div class="field">
	  		<label>Party Name</label>
	  		<div class="ui left labeled input">
	  			{{form.name}}
	  			<div class="ui corner label">
	  			</div>
	  		</div>
		</div>
		<div class="field">
			<label>Party Date</label>
			<div class="ui left labeled input">
	  			<input type="text" id="datepicker" name="date" maxlength="50" />
	  			<div class="ui corner label">
				</div>
	  		</div>
		</div>
		<div class="field">
			<label>Party Jobs</label>
			<div class="ui left labeled input">
	  			{{form.jobs}}
	  			<div class="ui corner label">
				</div>
	  		</div>
		</div>
		<button type="submit" class="ui blue submit button">Save</div>
	</form>
</div>

<br/>
<br/>
{% endblock %}