{% extends "party_base.html" %}

{% block title %}Sigma Pi Secure - Parties - View All Parties {% endblock %}

{% block header %}
	<h4 class="ui inverted black block header">Party List - View All Parties</h4>
{% endblock %}

{% block content %}

{% if all_parties %}

	{% for p in all_parties %}
		</br>
		{{ p.name }}</br>
		{{ p.date }}</br>
		<a href="{% url 'PartyList.views.guests' p.name %}">
			guests
		</a></br>
		<a href="{% url 'PartyList.views.jobs' p.name %}">
			jobs
		</a></br>
	{% endfor %}

{% endif %}

{% endblock %}