{% extends "secure_base.html" %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/party/party_common.css" %}' />
	<link rel="stylesheet" type="text/css" href='{% static "modules/checkbox.css" %}' />
	<script type="text/javascript" src='{% static "modules/checkbox.js" %}'></script>
	<script type="text/javascript" src="{% static 'js/party/guest.js' %}"></script>

	{% block party_includes %}{% endblock %}
{% endblock %}

{% block module_nav %}
	<div id="party-nav" class="ui inverted menu">
		<div class="header item">
			<i class="users icon"></i>Party List
		</div>

		{% block nav_extra %}

		{% endblock %}
	</div>
{% endblock %}