{% extends "party_base.html" %}

{% block title %}Sigma Pi Secure - Parties - {{ partyname }} - Guests {% endblock %}

{% block party_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/party/guests.css" %}' />
	<script type="text/javascript" src="{% static 'js/jquery.tinysort.min.js' %}"></script>
{% endblock %}

{% block content %}

{% if partymode %}

	<div class="ui form">
		<div id="filter" class="field">
			<div class="ui icon input">
				<input type="text" name='filter' placeholder="Search">
				<i class="search icon"></i>
			</div>
		</div>
	</div>

{% else %}
<div class="ui form">
	<div class="two fields">
		<div id="male-form" class="guest-submit field male">
			<form id="male-form" class="guestAdd-form">
				<div class="ui icon input">
					<input type='text' name='name' class='name' data-gender='M' placeholder='His name'/>
					<i class="male icon"></i>
				</div>
				<input hidden type="text" name="gender" value='M'/>
				<input style="visibility:hidden" type="submit"/>
			</form>
		</div>
		<div id="female-form" class="guest-submit field female">
			<form id="female-form" class="guestAdd-form">
				<div class="ui icon input">
					<input type='text' name='name' class='name' data-gender='F' placeholder='Her name'/>
					<i class="female icon"></i>
				</div>
				<input hidden type="text" name="gender" value='F'/>
				<input style="visibility:hidden" type="submit"/>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% if lists %}

	<div id="partymode-nav" class="ui vertical secondary menu">
		{% if not partymode %}
		<a class="my_list item">
			My List
		</a>
		<a class="full_list active item">
			Full List
		</a>
		{% endif %}
		{% for list in lists %}
			<script type="text/javascript">
				if (! document.COUNTER) {
					document.COUNTER = {};
				}

				document.COUNTER['{{list.gender}}'] = {{list.size}};
			</script>

			{% if partymode %}
				<div class="ui menu" data-gender="{{list.gender}}">
					<div class="header item">
						{{list.gender}}
					</div>
					<div class="ui icon small button decr">
						<i class="minus icon"></i>
					</div>
					<div id="{{list.gender}}-count" class="ui label">
						{{list.size}}
					</div>
					<div class="ui icon small button incr">
						<i class="add icon"></i>
					</div>
				</div>
			{% else %}

				<div class="header item">
					{{list.gender}} <div id="{{list.gender}}-count" class="ui label"> {{list.size}} </div>
				</div>


			{% endif %}

		{% endfor %}
	</div>

	{% for list in lists %}

	<!-- Hacky way to add guests from the client side on the fly, without hardcoding the html and css in javascript. Replace this with the use of a front end MVC library such as Ember or Backbone. -->
		<div hidden id="guest-template" class="guest item mine">
			<div class="ui right floated delete">
				<i class="delete icon"></i>
			</div>
			<div class="content">
				<form class="entry" data-id="{{pg.guest.id}}">
					<input disabled='true' name="name" value="" class="name editable"/>
					<input hidden type="text" name="gender" class="gender" value=""/>
				</form>
				<div class="right floated description addedBy">
					<span class="user">You</span>
				</div>
			</div>
		</div>
		<div class="ui relaxed list {{list.gender}}">
			{% for pg in list.guests %}
				<div class="guest item {% if pg.addedBy == user %} mine {% endif %}">
					{% if partymode %}
						<div class="ui right floated">
							<input type="checkbox" class="signin"/>
						</div>
					{% else %}
						{% if pg.addedBy == user %}
							<div class="ui right floated delete">
								<i class="delete icon"></i>
							</div>
						{% endif %}
					{% endif %}
					<div class="content">
						<form class="entry" data-id="{{pg.guest.id}}">
							<input disabled='true' name="name" value="{{ pg.guest.name }}" class="name editable"/>
							<input hidden type="text" name="gender" value="{{pg.guest.gender}}"/>
						</form>
						<div class="right floated description addedBy">
							<span class="user">{% if pg.addedBy == user %} You {% else %} {{pg.addedBy.first_name}} {{pg.addedBy.last_name}} {% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}

<div hidden id="error-template" class="ui error message">
	<i class="close icon"></i>
	<div class="header"></div>
</div>


{% endblock %}