{% extends "secure_base.html" %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/party/party_common.css" %}' />
	<link rel="stylesheet" type="text/css" href='{% static "modules/checkbox.css" %}' />
	<script type="text/javascript" src='{% static "modules/checkbox.js" %}'></script>
	<script type="text/javascript" src="{% static 'js/party/guest.js' %}"></script>

	{% block party_includes %}{% endblock %}
{% endblock %}

{% block module_nav %}
	<div id="party-nav" class="ui inverted menu">
		<div class="header item">
			<i class="users icon"></i>Parties
		</div>
		{% if '/manage' in request.path %}
		<a class="item" href="{% url 'PartyList.views.index' %}">
			All Parties
		</a>
		{% if perms.PartyList.manage_parties %}
		<a class="active item" href="{% url 'PartyList.views.manage_parties' %}">
			Manage Parties
		</a>
		<a class="item" href="{% url 'PartyList.views.add_party' %}">
			Add Party
		</a>
		{% endif %}
		{% elif '/edit' in request.path %}
		<a class="item" href="{% url 'PartyList.views.index' %}">
			All Parties
		</a>
		{% if perms.PartyList.manage_parties %}
		<a class="active item" href="{% url 'PartyList.views.manage_parties' %}">
			Manage Parties
		</a>
		<a class="item" href="{% url 'PartyList.views.add_party' %}">
			Add Party
		</a>
		{% endif %}
		{% elif '/add' in request.path %}
		<a class="item" href="{% url 'PartyList.views.index' %}">
			All Parties
		</a>
		{% if perms.PartyList.manage_parties %}
		<a class="item" href="{% url 'PartyList.views.manage_parties' %}">
			Manage Parties
		</a>
		<a class="active item" href="{% url 'PartyList.views.add_party' %}">
			Add Party
		</a>
		{% endif %}
		{% else %}
		<a class="active item" href="{% url 'PartyList.views.index' %}">
			All Parties
		</a>
		{% if perms.PartyList.manage_parties %}
		<a class="item" href="{% url 'PartyList.views.manage_parties' %}">
			Manage Parties
		</a>
		<a class="item" href="{% url 'PartyList.views.add_party' %}">
			Add Party
		</a>
		{% endif %}
		{% endif %}
	</div>
{% endblock %}