{% extends "party_base.html" %}

{% block content %}


<div class="ui form">
	<div class="two fields">
		<div id="male-form" class="guest-submit field male">
			<div class="ui icon input">
				<input type="text" class="name" data-gender='M' placeholder="His name"/>
				<i class="male icon"></i>
			</div>
		</div>
		<div id="female-form" class="guest-submit field female">
			<div class="ui icon input">
				<input class="name" data-gender='F' placeholder="Her name"/>
				<i class="female icon"></i>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
	document.ROOT_URL = '/secure/parties/' + '{{partyname}}';
</script>
</br>
Guests for: {{partyname}}
</br>

{% if partyguests %}

	{% for pg in partyguests %}
	</br>
	Name: {{ pg.guest.name }} </br>
	Birth date: {{ pg.guest.birthDate }} </br>
	Gender: {{ pg.guest.gender }} </br>
	Card ID: {{ pg.guest.cardID }} </br>
	Added by: {{ pg.addedBy.username }} </br>
	{% endfor %}

{% endif %}

{% endblock %}