{% extends "party_base.html" %}

{% block title %}Sigma Pi Secure - Parties - View All Parties {% endblock %}

{% block header %}
	<h4 class="ui inverted black block header">Party List - View All Parties</h4>
{% endblock %}

{% block content %}

{% if all_parties %}

	<table class="ui basic table">
    <tbody>
	{% for p in all_parties reversed %}

  	    <tr>
	      <td class="ten wide ui header">{{ p.displayname }}</td>
	      <td class="two wide">{{ p.date }}</td>
	      <td class="one wide">
			<a class="ui active button" id="jobs" href="{% url 'PartyList.views.jobs' p.name %}">
			Jobs</a>
		  </td>
	      <td class="three wide">
			<a class="ui active button" id="guests" href="{% url 'PartyList.views.guests' p.name %}">
			  <i class="user icon"></i>
				Guest List
			</a>
	      </td>
	    </tr>


	{% endfor %}

    </tbody>
	</table>


{% endif %}

{% endblock %}
