#content {
	margin: 40 auto;
	width: 80%;
}

#links-nav {
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;

	-webkit-box-shadow: 0px 5px 7px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 7px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 7px rgba(50, 50, 50, 0.5);
}

form {
	margin: 0;
}

#details {
	margin:2px;
	font-size: 0.75rem;
}

#metadata {
	display:inline;
}

#actions {
}

#links-list {
	margin: auto;
	width: 80%;	
}

#link {
	margin-bottom: 10px;
}

#comments {

}