#content {
	margin: 40 auto;
	width: 80%;
}

#links-nav {
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;

	-webkit-box-shadow: 0px 5px 7px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 7px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 7px rgba(50, 50, 50, 0.5);
}

form {
	margin: 0;
}

.hidden {
	display:none;
}

#details {
	margin:2px;
	font-size: 0.75rem;
}

#metadata {
	display:inline;
}

#like_button {
	display:inline;
}

#view_comments {
	display:inline;
}

#links-list {
	margin: auto;
	width: 80%;	
}

#link {
	margin-bottom: 10px;
}

#post-comment {
	margin: 15px 0px;
	width: 40%;
}

.comments {
	margin: 10px 60px;
	font-size: 0.9rem;
}

.comment_text {
	margin: auto 40px;
	padding: 5px;
	width:400px;
	word-wrap:break-word;
	border-left:thin double rgba(0, 0, 0, 0.4);
}

