{% extends "secure/standards_base.html" %}

{% block title %}Sigma Pi Secure - Standards {% endblock %}

{% block standards_includes %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/jquery-ui/jquery-ui.min.css" %}' />
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src='{% static "js/secure/standards/standards_index.js" %}'></script>
{% endblock %}
{% block content %}
	<h1 class="ui header">
		The Standards Board<br/>
		<a class="ui teal button" id="request_points_button">Request Pi Points</a>
		<a class="ui teal button" id="request_job_button">Cover a Job</a>
		<a class="ui teal button" id="request_job_take_button">Request Cover for a Job</a>
	</h1>
	<div id="request_points_form" class="ui segment	hidden" title="Request Pi Points">
		<div class="ui form">
			<div class="field">
				<h3 class="header">
				Request Pi Points
				</h3>
			</div>	
			<div class="field">
				<label>Reason*</label>
				<div class="ui left labeled input">
					{{points_form.reason}}
					<div class="ui corner label">
						<i class="asterisk icon"></i>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Witness</label>
				<div class="ui input">
					{{points_form.witness}}
				</div>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="overall-info" class="ui vertical segment">
		You have {{current_bone_count}} current bone{{current_bone_count|pluralize}}.
		<br/>
		You have {{ own_points.points }} Pi Point{{own_points.points|pluralize}}.
		<br/>
		{% if probation %}
		You are on social probation.
		{% endif %}
		</div>
		<br/>
		<div id="tabs">
			<ul>
			    <li><a href="#bone-history">My Bone History</a></li>
			    <li><a href="#point-standings">Pi Point Standings</a></li>
			    <li><a href="#job-requests">Job Cover Requests</a></li>
		 	</ul>
			<div id="bone-history" class="column">
				<table id="bones_table" class="ui basic table segment">
					<thead>
						<tr>
							<th class="three wide">Date Received</th>
							<th class="three wide">Expiration Date</th>
							<th class="twelve wide">Reason</th>
							<th class="three wide">Value</th>
							<th class="one wide">Reduce</th>
						</tr>
					</thead>
					<tbody>
						{% for bone in current_bones %}
						<tr>	
							<td>{{ bone.dateReceived }}</td>
							<td>
								{{ bone.expirationDate }}
							</td>
							<td>{{ bone.reason }}</td>
							<td>
								{{ bone.value }}
							</td>
							<td>
								<form enctype="multipart/form-data" method="post" action="{% url 'Standards.views.reduce_bone' bone.pk %}" class="ui error form">
									{% csrf_token %}
									<button type="submit" class="ui blue tiny submit button">Reduce Bone</button>
								</form>
						</tr>
						{% endfor %}

						{% for bone in expired_bones %}
						<tr class="error">	
							<td>{{ bone.dateReceived }}</td>
							<td>
								EXPIRED
							</td>
							<td>{{ bone.reason }}</td>
							<td>
								EXPIRED
							</td>
							<td>
								EXPIRED
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="point-standings" class="column">
				<table id="points_table" class="ui basic table segment">
					<thead>
						<tr>
							<th class="three wide">Name</th>
							<th class="three wide">Points</th>
						</tr>
					</thead>
					<tbody>
						{% for record in point_records %}
						<tr>	
							<td>{{ record.brother.first_name }} {{ record.brother.last_name }}</td>
							<td>{{ record.points }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="job-requests" class="column">
				<div class="ui vertical segment">
					<h3 class="ui header">People looking for others to cover their job:</h3>
					<table id="givers_table" class="ui basic table segment">
						<thead>
							<tr>
								<th class="three wide">Requester</th>
								<th class="three wide">Job</th>
								<th class="eight wide">Details</th>
								<th class="two wide">Cover Job</th>
							</tr>
						</thead>
						<tbody>
							{% for job in job_givers %}
							<tr>	
								<td>{{ job.requester.first_name }} {{ job.requester.last_name }}</td>
								<td>{{ job.job }}</td>
								<td>{{ job.details }}</td>
								<td><a class="ui blue tiny button" href="">Cover Job</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<h3 class="ui header">People looking to cover others' jobs:</h3>
				<table id="doers_table" class="ui basic table segment">
					<thead>
						<tr>
							<th class="three wide">Requester</th>
							<th class="three wide">Job</th>
							<th class="eight wide">Details</th>
							<th class="two wide">Give Job</th>
						</tr>
					</thead>
					<tbody>
						{% for job in job_doers %}
						<tr>	
							<td>{{ job.requester.first_name }} {{ job.requester.last_name }}</td>
							<td>{{ job.job }}</td>
							<td>{{ job.details }}</td>
							<td><a class="ui blue tiny button" href="">Give Job</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}