{% extends "secure/standards_base.html" %}

{% block title %}Sigma Pi Secure - Standards {% endblock %}

{% block standards_includes %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/jquery-ui/jquery-ui.min.css" %}' />
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src='{% static "js/secure/standards/standards_index.js" %}'></script>
{% endblock %}
{% block content %}
	<h1 class="ui header">
		The Standards Board
		<a class="ui teal button" id="request_points_button">Request Pi Points</a>
	</h1>
	<div id="request_points_form" class="ui segment	hidden" title="Request Pi Points">
		<div class="ui form">
			<div class="field">
				<h3 class="header">
				Request Pi Points
				</h3>
			</div>	
			<div class="field">
				<label>Reason*</label>
				<div class="ui left labeled input">
					{{points_form.reason}}
					<div class="ui corner label">
						<i class="asterisk icon"></i>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Witness</label>
				<div class="ui input">
					{{points_form.witness}}
				</div>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="overall-info" class="ui vertical segment">
		You have {{current_bone_count}} current bone{{current_bone_count|pluralize}}.
		<br/>
		You have {{ own_points.points }} Pi Point{{own_points.points|pluralize}}.
		<br/>
		{% if probation %}
		You are on social probation.
		{% endif %}
		</div>
		<br/>
		<div id="details" class="ui two column relaxed grid basic segment">
			<div id="bone-history" class="column">
				<h3 class="ui header">Bone History</h3>
				<table id="bones_table" class="ui basic table segment">
					<thead>
						<tr>
							<th class="three wide">Date Received</th>
							<th class="three wide">Expiration Date</th>
							<th class="twelve wide">Reason</th>
						</tr>
					</thead>
					<tbody>
						{% for bone in current_bones %}
						<tr>	
							<td>{{ bone.dateReceived }}</td>
							<td>
								{{ bone.expirationDate }}
							</td>
							<td>{{ bone.reason }}</td>
						</tr>
						{% endfor %}

						{% for bone in expired_bones %}
						<tr class="error">	
							<td>{{ bone.dateReceived }}</td>
							<td>
								EXPIRED
							</td>
							<td>{{ bone.reason }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<script type="text/javascript">
					$(document).ready(function() {	
						$.fn.dataTableExt.oStdClasses["sLength"] = "ui label black"
						$.fn.dataTableExt.oStdClasses["sInfo"] = "ui message"
						$.fn.dataTableExt.oStdClasses["sPagePrevEnabled"] = "ui button active"
						$.fn.dataTableExt.oStdClasses["sPagePrevDisabled"] = "ui button disabled"
						$.fn.dataTableExt.oStdClasses["sPageNextEnabled"] = "ui button active"
						$.fn.dataTableExt.oStdClasses["sPageNextDisabled"] = "ui button disabled"
						$('#bones_table').dataTable({
							"bFilter":false,
							"bSort": false,
						});
					} );
				</script>
			</div>

			<div id="point-standings" class="column">
				<h3 class="ui header">Pi Point Standings</h3>
				<table id="points_table" class="ui basic table segment">
					<thead>
						<tr>
							<th class="three wide">Name</th>
							<th class="three wide">Points</th>
						</tr>
					</thead>
					<tbody>
						{% for record in point_records %}
						<tr>	
							<td>{{ record.brother.first_name }} {{ record.brother.last_name }}</td>
							<td>{{ record.points }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<script type="text/javascript">
					$(document).ready(function() {	
						$.fn.dataTableExt.oStdClasses["sLength"] = "ui label black"
						$.fn.dataTableExt.oStdClasses["sInfo"] = "ui message"
						$.fn.dataTableExt.oStdClasses["sPagePrevEnabled"] = "ui button active"
						$.fn.dataTableExt.oStdClasses["sPagePrevDisabled"] = "ui button disabled"
						$.fn.dataTableExt.oStdClasses["sPageNextEnabled"] = "ui button active"
						$.fn.dataTableExt.oStdClasses["sPageNextDisabled"] = "ui button disabled"
						$('#points_table').dataTable({
							"bFilter":false,
							"bSort": false,
						});
					} );
				</script>
			</div>
		</div>
	</div>
{% endblock %}