{% extends "secure/user_base.html" %}

{% block title %}Sigma Pi Secure - Users - Manage Users {% endblock %}

{% block content %}

	<h1 class="ui header">Manage Users - View All</h1>

	<h4 class="ui header">View and edit existing users.</h4>

	{% if all_users %}

		<table id="users_table" class="ui basic table segment">
			<thead>
				<tr>
					<th class="two wide">First Name</th>
					<th class="two wide">Last Name</th>
					<th class="one wide">Username</th>
					<th class="one wide">Edit</th>
				</tr>
			</thead>
			<tbody>
				{% for user in all_users %}
				<tr>
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.username }}</td>
					<td>
						<a href="{% url 'UserInfo.views.edit_user' user.username %}">Edit</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<script type="text/javascript">
			$(document).ready(function() {
				$.fn.dataTableExt.oStdClasses["sFilter"] = "ui label black"
				$.fn.dataTableExt.oStdClasses["sLength"] = "ui label black"
				$.fn.dataTableExt.oStdClasses["sInfo"] = "ui message"
				$.fn.dataTableExt.oStdClasses["sPagePrevEnabled"] = "ui button active"
				$.fn.dataTableExt.oStdClasses["sPagePrevDisabled"] = "ui button disabled"
				$.fn.dataTableExt.oStdClasses["sPageNextEnabled"] = "ui button active"
				$.fn.dataTableExt.oStdClasses["sPageNextDisabled"] = "ui button disabled"
				$('#users_table').dataTable();
			} );
		</script>
	{% else %}
	No users found.  <a href="{% url 'UserInfo.views.add_users' %}">Create a new one.</a>
	{% endif %}

{% endblock %}