{% extends "secure_home.html" %}
{% block title %}Sigma Pi Secure - Change Password {% endblock %}

{%block  local_includes %}
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "css/secure/users/users_common.css" %}' />
{% endblock %}

{% block module_nav %}
	<div id="blog-nav" class="ui inverted menu">
		<div class="header item">
			<i class="lock icon"></i>Change Password
		</div>
	</div>
{% endblock %}

{% block content %}
<h1 class="ui header">Change Your Password Below</h1>
		{% if form.error_messages %}
		<div class="ui info message">
			<div class="header">Message</div>
			{% for msg in form.error_messages %}
			<p>{{ msg }}</p>
			{% endfor %}
		</div>
		{% endif %}

<form enctype="multipart/form-data" method="post" action="{% url 'django.contrib.auth.views.password_change' %}" class="ui error horizontal segment form">
	{% csrf_token %}
	<div class="field">
  		<label>Current Password</label>
  		<div class="ui left labeled input">
  			{{ form.old_password }}
  		</div>
	</div>
	<div class="field">
  		<label>New Password</label>
  		<div class="ui left labeled input">
  			{{ form.new_password1 }}
  		</div>
	</div>
	<div class="field">
  		<label>Confirm New Password</label>
  		<div class="ui left labeled input">
  			{{ form.new_password2 }}
  		</div>
	</div>	
	<button type="submit" class="ui blue submit button">Change Password</button>
</form>
{% endblock %}