{% extends "base.html" %}
{% block title %}Sigma Pi Gamma Iota - Brothers{% endblock %}

{% block local_includes %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/pub_brothers.css" %}'/>
	<script type='text/javascript' src='{% static "js/waypoints.min.js" %}'></script>
	<script type='text/javascript' src='{% static "js/pub/pub_brothers.js" %}'></script>
{% endblock %}

{% block header %}
	<h2 class="sub-header ui inverted purple block header">Brothers</h2>
{% endblock %}
{% block content %}
    <div id="brothers-nav" class="ui fixed small vertical secondary menu">
      <a id="exec-nav" class=" active item">Executive Council</a>
      <a id="senior-nav" class="item">Seniors</a>
      <a id="junior-nav" class="item">Juniors</a>
      <a id="sophomore-nav" class="item">Sophomores</a>
      {% if freshmen %}
      <a id="freshman-nav" class="item">Freshmen</a>
      {% endif %}
    </div>

	<div class="center-body large-print">
		<div id="exec"></div>
		<h2 class="ui inverted purple block header">The Executive Council</h1>
				<!-- Start EC -->
				{% if sage %}
				<!--Sage Here-->
				<h4 class="ui header">Sage</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ sage.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' sage.username %}">{{ sage.first_name }} {{ sage.last_name }}</a><br/><br/>
					<b>Class:</b> {{ sage.userinfo.classYear }}<br/>
					<b>Year:</b> {{ sage.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ sage.userinfo.major }}<br/>
					<b>Hometown:</b> {{ sage.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ sage.userinfo.activities }}<br/>
					<b>Interests:</b> {{ sage.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ sage.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>
				<!--End sage-->
				{% endif %}
				{% if second %}
				<!--Second starts-->
				<h4 class="ui header">2nd Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ second.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' second.username %}">{{ second.first_name }} {{ second.last_name }}</a><br/><br/>
					<b>Class:</b> {{ second.userinfo.classYear }}<br/>
					<b>Year:</b> {{ second.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ second.userinfo.major }}<br/>
					<b>Hometown:</b> {{ second.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ second.userinfo.activities }}<br/>
					<b>Interests:</b> {{ second.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ second.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>
				<!-- End second -->
				{% endif %}
				{% if third %}
				<!-- Start 3rd -->
				<h4 class="ui header">3rd Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ third.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' third.username %}">{{ third.first_name }} {{ third.last_name }}</a><br/><br/>
					<b>Class:</b> {{ third.userinfo.classYear }}<br/>
					<b>Year:</b> {{ third.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ third.userinfo.major }}<br/>
					<b>Hometown:</b> {{ third.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ third.userinfo.activities }}<br/>
					<b>Interests:</b> {{ third.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ third.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>
				<!-- End 3rd -->
				{% endif %}
				{% if fourth %}
				<!-- Start 4th -->
				<h4 class="ui header">4th Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ fourth.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' fourth.username %}">{{ fourth.first_name }} {{ fourth.last_name }}</a><br/><br/>
					<b>Class:</b> {{ fourth.userinfo.classYear }}<br/>
					<b>Year:</b> {{ fourth.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ fourth.userinfo.major }}<br/>
					<b>Hometown:</b> {{ fourth.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ fourth.userinfo.activities }}<br/>
					<b>Interests:</b> {{ fourth.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ fourth.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>	
				<!-- End 4th -->
				{% endif %}
				{% if first %}
				<!-- Start 1st -->
				<h4 class="ui header">1st Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ first.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' first.username %}">{{ first.first_name }} {{ first.last_name }}</a><br/><br/>
					<b>Class:</b> {{ first.userinfo.classYear }}<br/>
					<b>Year:</b> {{ first.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ first.userinfo.major }}<br/>
					<b>Hometown:</b> {{ first.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ first.userinfo.activities }}<br/>
					<b>Interests:</b> {{ first.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ first.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>	
				<!-- End 1st -->
				{% endif %}
				{% if herald %}
				<!-- Start Herald -->
				<h4 class="ui header">Herald</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ herald.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' herald.username %}">{{ herald.first_name }} {{ herald.last_name }}</a><br/><br/>
					<b>Class:</b> {{ herald.userinfo.classYear }}<br/>
					<b>Year:</b> {{ herald.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ herald.userinfo.major }}<br/>
					<b>Hometown:</b> {{ herald.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ herald.userinfo.activities }}<br/>
					<b>Interests:</b> {{ herald.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ herald.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				<!-- End herald-->
				{% endif %}
				<!-- End EC -->			

				<!-- Start Seniors -->
				<div id="senior"></div>	
				<h2 class="ui inverted purple block header">Seniors</h1>
				{% for senior in seniors %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ senior.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' senior.username %}">{{ senior.first_name }} {{ senior.last_name }}</a><br/><br/>
					<b>Class:</b> {{ senior.userinfo.classYear }}<br/>
					<b>Year:</b> {{ senior.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ senior.userinfo.major }}<br/>
					<b>Hometown:</b> {{ senior.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ senior.userinfo.activities }}<br/>
					<b>Interests:</b> {{ senior.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ senior.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- End Seniors -->
				<!-- Start juniors-->
				<div id="junior"></div>
				<h2 class="ui inverted purple block header">Juniors</h1>
				{% for junior in juniors %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ junior.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' junior.username %}">{{ junior.first_name }} {{ junior.last_name }}</a><br/><br/>
					<b>Class:</b> {{ junior.userinfo.classYear }}<br/>
					<b>Year:</b> {{ junior.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ junior.userinfo.major }}<br/>
					<b>Hometown:</b> {{ junior.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ junior.userinfo.activities }}<br/>
					<b>Interests:</b> {{ junior.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ junior.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- end juniors -->
				<!-- start sophomores -->
				<div id="sophomore"></div>
				<h2 class="ui inverted purple block header">Sophomores</h1>
				{% for sophomore in sophomores %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ sophomore.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' sophomore.username %}">{{ sophomore.first_name }} {{ sophomore.last_name }}</a><br/><br/>
					<b>Class:</b> {{ sophomore.userinfo.classYear }}<br/>
					<b>Year:</b> {{ sophomore.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ sophomore.userinfo.major }}<br/>
					<b>Hometown:</b> {{ sophomore.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ sophomore.userinfo.activities }}<br/>
					<b>Interests:</b> {{ sophomore.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ sophomore.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- End Sophomores -->
				<!-- Start freshmen -->
				{% if freshmen %}
				<div id="freshman"></div>
				<h2 class="ui inverted purple block header">Freshmen</h1>
				{% for freshman in freshmen %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ freshman.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' freshman.username %}">{{ freshman.first_name }} {{ freshman.last_name }}</a><br/><br/>
					<b>Class:</b> {{ freshman.userinfo.classYear }}<br/>
					<b>Year:</b> {{ freshman.userinfo.graduationYear }}<br/>
					<b>Major:</b> {{ freshman.userinfo.major }}<br/>
					<b>Hometown:</b> {{ freshman.userinfo.hometown }}<br/>
					<b>Activities:</b> {{ freshman.userinfo.activities }}<br/>
					<b>Interests:</b> {{ freshman.userinfo.interests }}<br/>
					<b>Favorite Memory:</b> {{ freshman.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				{% endif %}
				<!-- End freshmen -->				
	</div>
{% endblock %}