{% extends "base.html" %}

{% block local_includes %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/pub_brothers.css" %}'/>
	<script type='text/javascript' src='{% static "js/pub/pub_brothers.js" %}'></script>
{% endblock %}

{% block header %}
	<h1 id="sub-header" class="ui inverted purple block header">Brothers</h4>
{% endblock %}
{% block content %}
    <div id="brothers-nav" class="ui fixed small vertical secondary menu">
      <a id="exec-nav" class=" active item" href="#exec">Executive Council</a>
      <a id="senior-nav" class="item" href="#seniors">Seniors</a>
      <a id="junior-nav" class="item" href="#juniors">Juniors</a>
      <a id="sophomore-nav" class="item" href="#sophomores">Sophomores</a>
      <a id="freshman-nav" class="item" href="#freshmen">Freshmen</a>
    </div>

	<div class="center-body large-print">
		<a id="exec_start" name="exec"/>
		<h1 class="ui inverted purple block header">The Executive Council</h1>
				<!-- Start EC -->
				<!--Sage Here-->
				<h3 class="ui header">Sage</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ sage.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' sage.username %}">{{ sage.first_name }} {{ sage.last_name }}</a><br/><br/>
					Class: {{ sage.userinfo.classYear }}<br/>
					Year: {{ sage.userinfo.graduationYear }}<br/>
					Major: {{ sage.userinfo.major }}<br/>
					Hometown: {{ sage.userinfo.hometown }}<br/>
					Activities: {{ sage.userinfo.activities }}<br/>
					Interests: {{ sage.userinfo.interests }}<br/>
					Favorite Memory: {{ sage.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>
				<!--End sage-->
				<!--Second starts-->
				<h3 class="ui header">2nd Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ second.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' second.username %}">{{ second.first_name }} {{ second.last_name }}</a><br/><br/>
					Class: {{ second.userinfo.classYear }}<br/>
					Year: {{ second.userinfo.graduationYear }}<br/>
					Major: {{ second.userinfo.major }}<br/>
					Hometown: {{ second.userinfo.hometown }}<br/>
					Activities: {{ second.userinfo.activities }}<br/>
					Interests: {{ second.userinfo.interests }}<br/>
					Favorite Memory: {{ second.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>
				<!-- End second -->
				<!-- Start 3rd -->
				<h3 class="ui header">3rd Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ third.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' third.username %}">{{ third.first_name }} {{ third.last_name }}</a><br/><br/>
					Class: {{ third.userinfo.classYear }}<br/>
					Year: {{ third.userinfo.graduationYear }}<br/>
					Major: {{ third.userinfo.major }}<br/>
					Hometown: {{ third.userinfo.hometown }}<br/>
					Activities: {{ third.userinfo.activities }}<br/>
					Interests: {{ third.userinfo.interests }}<br/>
					Favorite Memory: {{ third.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>
				<!-- End 3rd -->
				<!-- Start 4th -->
				<h3 class="ui header">4th Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ fourth.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' fourth.username %}">{{ fourth.first_name }} {{ fourth.last_name }}</a><br/><br/>
					Class: {{ fourth.userinfo.classYear }}<br/>
					Year: {{ fourth.userinfo.graduationYear }}<br/>
					Major: {{ fourth.userinfo.major }}<br/>
					Hometown: {{ fourth.userinfo.hometown }}<br/>
					Activities: {{ fourth.userinfo.activities }}<br/>
					Interests: {{ fourth.userinfo.interests }}<br/>
					Favorite Memory: {{ fourth.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>	
				<!-- End 4th -->
				<!-- Start 1st -->
				<h3 class="ui header">1st Counselor</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ first.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' first.username %}">{{ first.first_name }} {{ first.last_name }}</a><br/><br/>
					Class: {{ first.userinfo.classYear }}<br/>
					Year: {{ first.userinfo.graduationYear }}<br/>
					Major: {{ first.userinfo.major }}<br/>
					Hometown: {{ first.userinfo.hometown }}<br/>
					Activities: {{ first.userinfo.activities }}<br/>
					Interests: {{ first.userinfo.interests }}<br/>
					Favorite Memory: {{ first.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>	
				<!-- End 1st -->
				<!-- Start Herald -->
				<h3 class="ui header">Herald</h3>
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ herald.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' herald.username %}">{{ herald.first_name }} {{ herald.last_name }}</a><br/><br/>
					Class: {{ herald.userinfo.classYear }}<br/>
					Year: {{ herald.userinfo.graduationYear }}<br/>
					Major: {{ herald.userinfo.major }}<br/>
					Hometown: {{ herald.userinfo.hometown }}<br/>
					Activities: {{ herald.userinfo.activities }}<br/>
					Interests: {{ herald.userinfo.interests }}<br/>
					Favorite Memory: {{ herald.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				<!-- End herald-->
				<!-- End EC -->			

				<!-- Start Seniors -->	
				<a name="seniors"/>					
				<h1 id="senior_start" class="ui inverted purple block header">Seniors</h1>
				{% for senior in seniors %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ senior.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' senior.username %}">{{ senior.first_name }} {{ senior.last_name }}</a><br/><br/>
					Class: {{ senior.userinfo.classYear }}<br/>
					Year: {{ senior.userinfo.graduationYear }}<br/>
					Major: {{ senior.userinfo.major }}<br/>
					Hometown: {{ senior.userinfo.hometown }}<br/>
					Activities: {{ senior.userinfo.activities }}<br/>
					Interests: {{ senior.userinfo.interests }}<br/>
					Favorite Memory: {{ senior.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- End Seniors -->
				<!-- Start juniors-->
				<a name="juniors"/>
				<h1 id="junior_start" class="ui inverted purple block header">Juniors</h1>
				{% for junior in juniors %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ junior.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' junior.username %}">{{ junior.first_name }} {{ junior.last_name }}</a><br/><br/>
					Class: {{ junior.userinfo.classYear }}<br/>
					Year: {{ junior.userinfo.graduationYear }}<br/>
					Major: {{ junior.userinfo.major }}<br/>
					Hometown: {{ junior.userinfo.hometown }}<br/>
					Activities: {{ junior.userinfo.activities }}<br/>
					Interests: {{ junior.userinfo.interests }}<br/>
					Favorite Memory: {{ junior.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- end juniors -->
				<!-- start sophomores -->
				<a name="sophomores"/>
				<h1 id="sophomore_start" class="ui inverted purple block header">Sophomores</h1>
				{% for sophomore in sophomores %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ sophomore.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' sophomore.username %}">{{ sophomore.first_name }} {{ sophomore.last_name }}</a><br/><br/>
					Class: {{ sophomore.userinfo.classYear }}<br/>
					Year: {{ sophomore.userinfo.graduationYear }}<br/>
					Major: {{ sophomore.userinfo.major }}<br/>
					Hometown: {{ sophomore.userinfo.hometown }}<br/>
					Activities: {{ sophomore.userinfo.activities }}<br/>
					Interests: {{ sophomore.userinfo.interests }}<br/>
					Favorite Memory: {{ sophomore.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- End Sophomores -->
				<!-- Start freshmen -->		
				<a name="freshmen"/>		
				<h1 id="freshman_start" class="ui inverted purple block header">Freshmen</h1>
				{% for freshman in freshmen %}
				<div class="ui basic segment">
					<img class="ui rounded med left floated image" src="/content/{{ freshman.userinfo.picture }}">
					<a href="{% url 'UserInfo.views.single_user' freshman.username %}">{{ freshman.first_name }} {{ freshman.last_name }}</a><br/><br/>
					Class: {{ freshman.userinfo.classYear }}<br/>
					Year: {{ freshman.userinfo.graduationYear }}<br/>
					Major: {{ freshman.userinfo.major }}<br/>
					Hometown: {{ freshman.userinfo.hometown }}<br/>
					Activities: {{ freshman.userinfo.activities }}<br/>
					Interests: {{ freshman.userinfo.interests }}<br/>
					Favorite Memory: {{ freshman.userinfo.favoriteMemory }}<br/>
				</div>
				<div class="ui divider"></div>		
				{% endfor %}
				<!-- End freshmen -->				
	</div>
{% endblock %}