{% extends "base.html" %}
{% block header %}
	<h1 id="sub-header" class="ui inverted purple block header">{{ requested_user.first_name }} {{ requested_user.last_name }}</h4>
{% endblock %}
{% block content %}

<div class="ui basic segment large-print">
	<img class="ui rounded med left floated image" src="/content/{{ requested_user.userinfo.picture }}">
	Class: {{ requested_user.userinfo.classYear }}<br/>
	Year: {{ requested_user.userinfo.graduationYear }}<br/>
	Major: {{ requested_user.userinfo.major }}<br/>
	Hometown: {{ requested_user.userinfo.hometown }}<br/>
	Activities: {{ requested_user.userinfo.activities }}<br/>
	Interests: {{ requested_user.userinfo.interests }}<br/>
	Favorite Memory: {{ requested_user.userinfo.favoriteMemory }}<br/>
</div>

{% endblock %}