.filter {
	display: none !important;
}

.guest-submit.male i {
	color: blue;
}

.guest-submit.female i {
	color: rgb(194, 16, 228);
}

#partymode-nav {
	position: fixed;
	left: 0;
	width: 130px;
	background-color: rgb(137, 119, 160);
}

	#partymode-nav .menu {
		width: 140px;
	}

	#partymode-nav .header {
		text-align: center;
	}

	#partymode-nav a.item {
		padding-bottom:5px;
		margin-bottom:0;
	}

	#partymode-nav a.item.active {
		background-color: rgb(141, 103, 175);
	}

	#partymode-nav .guest-counter {
		font-size: .9rem;
		width: 53px;
		text-align: center;
	}
	#partymode-nav #guys-count {
		background-color: rgb(189, 80, 80);
	}

	#partymode-nav #girls-count {
		background-color: rgb(128, 202, 243);
	}

	#partymode-nav .ui.menu .icon.button:last-child{
		float: right;
	}

body {
	background-color: rgba(234,230,220,.8);
}
.list {
	width: 49%;
}
.list.guys {
	float: left;
}
.list.girls {
	float: right;
}
	.list .guest {
		margin:2px,0px;
		-webkit-box-shadow: 0px 5px 7px rgba(50, 50, 50, 0.5);
		padding-left: 5px !important;
	}

	.list.guys .guest {
		background-color: rgba(240, 155, 155, 0.9);
		-webkit-box-shadow: 0px 5px 7px rgba(1, 1, 1, 1);

	}

	.list.guys .guest.signedIn {
		background-color: rgba(233, 88, 88, 0.86)
	}

	.list.girls .guest.signedIn {
		background-color: rgba(92, 151, 214, 0.73);
	}

	.list.girls .guest {
		background-color: rgba(74, 125, 233, 0.45);
	}

	.list.guys .guest:hover{
		background-color: rgb(197, 114, 127);
	}

	.list.girls .guest:hover {
		background-color: rgb(72, 126, 195);;
	}

		.list form {
			margin-bottom: 0;
		}
		.list .guest .name,
		.list .guest .name:focus {
			outline: none;
			border: none;
			background: none;
			font-size: 1em;
			width: 500px;
			color: rgba(0, 0, 0, 0.71)
		}

		.list .guest.mine .name {
			color: black;
		}

		.list .guest .addedBy {
			float: left;
			padding-right: 10px;
			color: #FFF;
		}

		.list .guest div.delete {
			margin-left: 0px !important;
		}

		.list .guest .delete i:hover {
			color: red;
		}

		.list .guest .delete i {
			font-size: 1.3em;
		}

