#content {
	margin: 50px auto;
	width: 80%;
}

#party-nav {
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;

	-webkit-box-shadow: 0px 5px 7px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 7px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 7px rgba(50, 50, 50, 0.5);
}

#guests {
	text-decoration: none;
}

#jobs {
	text-decoration: none;
}

.inline_elements * {
	display: inline-block;
}

.width50 {
	width: 100%;
}

/* For partyguests page */

